<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <package name="com.hy.domain" />
    </typeAliases>

    <!-- 制定映射器路径 -->
    <mappers>
        <mapper resource="mybatis/mapper/AboutWeMapper.xml" />
        <mapper resource="mybatis/mapper/AdImageMapper.xml" />
        <mapper resource="mybatis/mapper/AdminMapper.xml" />
        <mapper resource="mybatis/mapper/ContactMapper.xml" />
        <mapper resource="mybatis/mapper/ImageTextMapper.xml" />
        <mapper resource="mybatis/mapper/MessageMapper.xml" />
        <mapper resource="mybatis/mapper/ModuleMapper.xml" />
        <mapper resource="mybatis/mapper/PageMapper.xml" />
        <mapper resource="mybatis/mapper/PartMapper.xml" />
    </mappers>

</configuration>