<!DOCTYPE HTML>
<html>

<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!--slider-->
    <link href="css/camera.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/foot.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/info.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/tools.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/newscard.css" rel="stylesheet" type="text/css" media="all"/>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>

<body>
<div class="wrapper">
    <div class="wrap">
        <div class="wrap_inner">
            <div class="cssmenu">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <a class="navbar-brand" href="index.html">
                                <img alt="Brand" style="max-width:100px;margin-top:-7px;" src="images/logo.png">
                            </a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse cssnav" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav ">
                                <li class="active">
                                    <a href="index.html">首页 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true"
                                       aria-expanded="false">关于肾畅 <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="shengchangjianjie.html">肾畅简介</a>
                                        </li>
                                        <li>
                                            <a href="shengchangshili.html">肾畅实力</a>
                                        </li>
                                        <li>
                                            <a href="shengchangwenhua.html">肾畅文化</a>
                                        </li>
                                        <!--<li role="separator" class="divider"></li>-->
                                        <li>
                                            <a href="shehuizeren.html">社会责任</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true"
                                       aria-expanded="false">解决方案 <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="shejigh.html">设计规划</a>
                                        </li>
                                        <li>
                                            <a href="shichangyx.html">市场营销</a>
                                        </li>
                                        <li>
                                            <a href="renyuanpx.html">人员培训</a>
                                        </li>
                                        <li>
                                            <a href="xinxihuaxt.html">信息化系统</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true"
                                       aria-expanded="false">血透中心 <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="xuetou_jy.html">嘉鱼康泰血透中心</a>
                                        </li>
                                        <li>
                                            <a href="xuetou_ts.html">通山康泰血透中心</a>
                                        </li>
                                        <li>
                                            <a href="xuetou_yx.html">阳新肾畅血透中心</a>
                                        </li>
                                        <li>
                                            <a href="xuetou_cr.html">崇仁肾畅血透中心</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="zuixinzixun.html"><span>最新资讯</span></a>
                                </li>
                                <li>
                                    <a href="jiankangxuanjiao.html"><span>健康宣教</span></a>
                                </li>
                                <li>
                                    <a href="shenyouhui.html"><span>肾友会</span></a>
                                </li>
                                <li class="last">
                                    <a href="contact.html"><span>联系我们</span></a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
            </div>
            <div><img src="images/jianjie-pic1.jpg"></div>
        </div>

        <!-- 健康宣教详情 -->
        <div style="margin-top: 20px;">

            <div class="col-lg-12 col-md-12 col-sm-12 zixun" >
                <h3>
                    <center>HEALTH 健康宣教<hr style="margin-top: 30px"></center>
                </h3>
                <h4 align="center">
                    透析病人血管通路的护理
                </h4>
                <p style="text-align: center;">
                    <span class="date">日期：2016-03-24</span>
                </p>
                <div style="width: 100%;">
                    <div>
                        <div style="padding: 0px; margin: 0px;" class="firsdivow">
                            <div style="padding: 0px; margin: 0px;">
                                <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                    <span style="font-size: 21px;"><span style="color: rgb(40, 79, 136);"><sdivong>透析病人血管通路的护理——如何保护我的血管</sdivong></span></span>
                                </p>
                                <ul style="list-style-type: none;" class=" list-paddingleft-2">
                                    <li>
                                        <p>
                                            透析前先清洁血管通路皮肤
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            切勿在透析中触摸或抓痒穿刺处的皮肤，以免造成污染或使针滑落，影响透析安全
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            经常更换打针的位置没避免同一位置的重复穿刺，因易导致血管内皮损伤引起纤维化狭窄或形成假性动脉瘤
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            避免过度脱水、血压太低、出血或腹泻等情况，以避免造成血管通路阻塞
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            穿刺部位的压迫时间通常在护士拔针止血15-30分钟后，患者及家属可自行打开压迫纱布卷或减轻压迫，压迫时间不宜过久以避免内瘘管闭塞，这个压迫时间因人而异，有的患者15分钟就已经止血，而有的患者需要1-2小时甚至更长时间，原则上以止住血后，在最短时间内接触压迫
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            透析后保持穿刺部位干净，随时观察有无异常现象，如无咻咻的震动感，瘘管周围红肿发热、出血、感染及异常分泌物，请立即就医
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            漏针或未打上时所造成的肿胀，当天使用冰敷，24小时后用热敷可消肿及去除淤血
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            针孔出血时，立刻加压止血，若出血不止请速至医院就诊
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            患者衣袖应宽松，瘘侧手臂勿负重，受压。冬季在患者的毛衣和棉衣袖（瘘侧）下方加拉链，便于透析时穿刺及保暖
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            透析后24-48小时后局部适当行湿热敷或擦喜疗妥、敷土豆片，可达到保护动静脉内瘘，延长其使用寿命的功效
                                        </p>
                                    </li>
                                </ul>
                                <p style="line-height: 24px;">
                                    &nbsp;
                                </p>
                                <div style="width: 100%;">
                                    <div>
                                        <div style="padding: 0px; margin: 0px;" class="firsdivow">
                                            <div style="padding: 0px; margin: 0px;">
                                                <img alt="" height="191"
                                                     src="http://www.suntophc.com/e39ce13a-0992-4474-a21c-2f716f574c8d.png"
                                                     width="284"/>
                                            </div>
                                            <div style="padding: 0px; margin: 0px;" width="283">
                                                <img alt="" height="532"
                                                     src="http://www.suntophc.com/07ed3d8f-a4e6-4a6a-bc5d-57880dfcb47f.jpg"
                                                     width="900"/>
                                            </div>
                                            <div style="padding: 0px; margin: 0px;" width="4">
                                                <img alt="" height="158"
                                                     src="http://www.suntophc.com/9d0e5433-2443-4579-8055-886faadd6875.png"
                                                     width="273"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p style="line-height: 24px;">
                                    &nbsp;
                                </p>
                                <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                    <br/><span style="font-size: 21px;"><span style="color: rgb(40, 79, 136);"><sdivong>内瘘手术后护理</sdivong></span></span>
                                </p>
                                <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                    &nbsp;
                                </p>
                                <div style="width: 100%;">
                                    <div>
                                        <div style="padding: 0px; margin: 0px;" class="firsdivow">
                                            <div style="padding: 0px; margin: 0px;">
                                                <ul style="list-style-type: none;" class=" list-paddingleft-2">
                                                    <li>
                                                        <p>
                                                            术后5-7天保持术侧肢体干燥清洁，术侧手臂应适当抬高，促进静脉回流，减轻肿胀。请勿随意去除包扎敷料，若渗血不止，疼痛难忍时，应及时到医院处理
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <p>
                                                            每天检查内瘘口是否通畅，否则应怀疑有血栓形成，应立即与医生联系并及时处理
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <p>
                                                            术后按医嘱服用潘生丁或阿司匹林以防止血栓形成堵塞内瘘
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <p>
                                                            术后24小时开始训练
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div style="padding: 0px; margin: 0px;">
                                                <img alt=""
                                                     src="http://www.suntophc.com/3d6dfc18-5208-44ef-9acc-d638f38cf54b.png"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                    &nbsp;&nbsp; a. 每天两次10分钟有规律的握拳松拳运动或用术侧手捏握橡皮健身球3-4次，每次10分钟<br/>&nbsp;&nbsp;&nbsp;b.同时可压迫造瘘的前臂，如用手，止血带或血压计袖套在吻合上方，轻轻加压至静脉中度扩张为止，每15-20分钟松开一次，每天可重复3次<br/>&nbsp;&nbsp;&nbsp;c.每天热敷或将前臂浸入热水中2-3次，每次15-20分钟
                                </p>
                                <ul style="list-style-type: none;" class=" list-paddingleft-2">
                                    <li>
                                        <p>
                                            包扎伤口的敷料不可过紧，衣袖要宽松，避免吻合口及该侧手臂不慎受压，禁止在该侧做输液、输血和量血压等
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            内瘘的成熟，取决于自身血管条件及手术情况，若静脉扩张，管壁肥厚，有动脉震动或搏动则表示内瘘以成熟一般在4-8周可使用，至少应在2-3周方可使用。在此之前护士可用临时血管通路过度，早起的使用需要加倍谨慎，否则可能会损坏内瘘，导致并发癌症出现
                                        </p>
                                    </li>
                                </ul>
                                <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 2em; letter-spacing: 0em;">
                                    <br/><span style="font-size: 21px;"><span style="color: rgb(40, 79, 136);"><sdivong>冷热敷疗法</sdivong></span></span><br/>&nbsp;&nbsp;&nbsp;&nbsp;<br/>&nbsp;&nbsp;&nbsp;
                                    动静脉内瘘穿刺失败，出现血管周围皮肤肿胀时的护理。一般建议：穿刺24小时内使用冰敷，超过24小时后可以使用热敷。老年人的皮下吸收较 慢，也适当延后热敷时间。
                                </p>
                                <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                    &nbsp;冰敷疗法注意事项
                                </p>
                                <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                    如透析穿刺部位出现肿胀，应立即进行冰敷，可采用冰毛巾或冰敷袋进行更换，以保证冰敷效果，每次冰敷时间不宜过长，一般以15-20分钟为好。冰敷完毕后，用干毛巾将冰敷部位擦干。隔1小时左右在冰敷
                                </p>
                                <ul style="list-style-type: none;" class=" list-paddingleft-2">
                                    <li>
                                        <p>
                                            热敷疗法注意事项
                                        </p>
                                    </li>
                                </ul>
                                <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                    热敷通常在透析穿刺24小时后开始，切忌透析当天进行血管热敷，热敷时要注意定时更换，以保证热敷效果，可延长热敷时间约30分钟。热敷完毕后，用干毛巾热敷部位的皮肤擦干。每次热敷不宜过长，一般以20分钟为好。每次热敷20分钟后，停敷1小时左右在热敷。如内瘘血管出现红、肿、热、痛应停止冰敷和热敷并及时与医生联系。
                                </p>
                                <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                    <br/><span style="font-size: 21px;"><span style="color: rgb(40, 79, 136);"><sdivong>静脉留置导管患者的自我维护</sdivong></span></span>
                                </p>
                                <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 2em; letter-spacing: 0em;">
                                    &nbsp;
                                </p>
                                <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 2em; letter-spacing: 0em;">
                                    透析过程中，置管处应制动，一面由此而引起血流量不足而直接影响透析效果；日常生活中应减少留置导管局部及附近的剧烈活动，以防留置
                                    导管划出，一旦脱落划出应立即压迫止血，并立即到医院就医
                                </p>
                                <ul style="list-style-type: none;" class=" list-paddingleft-2">
                                    <li>
                                        <p>
                                            避免拉扯，弯折和压迫导管，活动和睡眠时以免压迫导管，以免血栓形成和血管壁损坏
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            养成良好的个人习惯，避免在洗澡洗脸时浸润敷料，保持置管处局部清洁干燥，防止潮湿和感染
                                        </p>
                                    </li>
                                    <li>
                                        <p>
                                            注意敷料完整
                                        </p>
                                    </li>
                                </ul>
                                <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                    注意留置导管局部有无渗血，红肿，疼痛等症状，如有异常及时联系医生及护士
                                </p>
                                <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                    &nbsp;
                                </p>
                                <div style="width: 100%;">
                                    <div>
                                        <div style="padding: 0px; margin: 0px;" class="firsdivow">
                                            <div style="padding: 0px; margin: 0px;">
                                                <ul style="list-style-type: none;" class=" list-paddingleft-2">
                                                    <li>
                                                        <p>
                                                            若留置导管超过3天未使用，请立即到医院血透室进行检查和换药，以防导管内形成血栓及局部敷料污染。
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <p>
                                                            如果置管口处有血液渗出或周围胀痛，应立即就医，防止管路破裂，出血。血小板在100万/ml以下的患者，如果出现颈部肿胀，呼吸困难，应立即就医，防止导管脱落，发生大出血，危及生命
                                                        </p>
                                                    </li>
                                                    <li>
                                                        <p>
                                                            患者及家属必须意识到创面干燥，清洁对预防感染的意义
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div style="padding: 0px; margin: 0px;">
                                                <img alt=""
                                                     src="http://www.suntophc.com/dc1bb55c-2c6c-4d15-9615-8a76fce2bd7e.png"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                    &nbsp;
                                </p>
                                <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                    <span style="font-size: 21px;"><span style="color: rgb(40, 79, 136);"><sdivong>喜疗妥和土豆片的使用方法</sdivong></span></span>
                                </p>
                                <ul style="list-style-type: none;" class=" list-paddingleft-2">
                                    <li>
                                        <p>
                                            &nbsp;喜疗妥
                                        </p>
                                    </li>
                                </ul>
                                <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                    具有抗血栓形成、消炎止痛、改善患处血液循环等作用。用喜疗妥霜剂，以穿刺点为中心用按摩方式均匀外涂，范围5-8CM，每日2次，可缓解穿刺部位疼痛和压迫，促进损伤组织细胞恢复，从而使局部红、肿、热、痛等症状消失而痊愈，达到保护动静脉内瘘，延长其使用寿命的功效
                                </p>
                                <ul style="list-style-type: none;" class=" list-paddingleft-2">
                                    <li>
                                        <p>
                                            土豆片
                                        </p>
                                    </li>
                                </ul>
                                <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                    具有散瘀，解痉、止痛，消炎、利尿、促进损伤组织细胞修复的作用。将新鲜马铃薯洗净擦干，切成大小5-8cm，厚0.3-0.5cm切片，于中央穿一直径约为1cm的孔以避开穿刺针眼，将切片紧贴于穿刺部位皮肤，并用保鲜膜覆盖，切片干燥后随时更换，时间为30分钟，每日2次。可防止血管通路感染、<span
                                        style="font-size: 10.5pt;"><span style="font-family: 宋体;">出血、血栓、闭塞、狭窄、延长动静脉内瘘的使用寿命出血、血栓、闭塞、狭窄、延长动静脉内瘘的使用寿命</span></span>
                                </p>
                                <p style="line-height: 24px;">
                                    &nbsp;
                                </p>
                                <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                    &nbsp;
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <p style="padding: 0px; margin-top: 0px; margin-bottom: 0px; line-height: 24px; font-family: 宋体, Arial; font-size: 12px; white-space: normal; background-color: rgb(241, 241, 241);">
                    <br/>
                </p>
                <p class="typename" style="padding: 3px 0px; margin-top: 0px; margin-bottom: 0px; line-height: 24px;">
                    <sdivong>所属类别：</sdivong>&nbsp;健康宣教
                </p>
                <p>
                    <br/>
                </p>
            </div>
        </div>

        <!-- 工具栏 -->
        <div class="tools col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-1 col-md-1 col-sm-1">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="row">
                    <p class="tools-title">关于我们</p>
                    <hr>
                </div>
                <div class="row">
                    <p class="tools-content"><a href="shengchangjianjie.html">走进肾畅</a></p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="row">
                    <p class="tools-title">健康宣教</p>
                    <hr>
                </div>
                <div class="row">
                    <p class="tools-content"><a href="jiankangxuanjiao.html">健康宣教</a></p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="row">
                    <p class="tools-title">最新资讯</p>
                    <hr>
                </div>
                <div class="row">
                    <p class="tools-content"><a href="zuixinzixun.html">肾畅资讯</a></p>
                </div>
                <div class="row">
                    <p class="tools-content"><a href="zuixinzixun.html">行业新闻</a></p>
                </div>
                <div class="row">
                    <p class="tools-content"><a href="zuixinzixun.html">最新活动</a></p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="row">
                    <p class="tools-title">联系我们</p>
                    <hr>
                </div>
                <div class="row">
                    <p class="tools-content"><a href="contact.html">联系我们</a></p>
                </div>
                <div class="row">
                    <p class="tools-content"><a href="contact.html">人力资源</a></p>
                </div>
                <div class="row">
                    <p class="tools-content"><a href="#">在线留言</a></p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <p><img alt="" src="images/qrcode.jpg"/></p>
                <p style="color: black;text-align: center">扫一扫关注我们</p>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
            </div>
        </div>
    </div>
</div>

<div class="clear"></div>
<hr/>
<footer class="footer" id="footer">
    <div class="container">
        <div id="copyright">Designed by 华鑫 in 华中科技大学&nbsp;&nbsp;&nbsp;&nbsp;</div>
    </div>
</footer>

<!-- js脚本 -->
<script src="http://code.jquery.com/jquery-migrate-1.0.0rc1.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script type='text/javascript' src='js/camera.min.js'></script>
<script type='text/javascript' src='js/tool.js'></script>
</body>

</html>
