<!DOCTYPE HTML>
<html>

<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!--slider-->
    <link href="css/camera.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/foot.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/info.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/tools.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/newscard.css" rel="stylesheet" type="text/css" media="all"/>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
<div class="wrapper">
    <div class="wrap">
        <div class="wrap_inner">
            <div class="cssmenu">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <a class="navbar-brand" href="index.html">
                                <img alt="Brand" style="max-width:100px;margin-top:-7px;" src="images/logo.png">
                            </a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse cssnav" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav ">
                                <li class="active">
                                    <a href="index.html">首页 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true"
                                       aria-expanded="false">关于肾畅 <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="shengchangjianjie.html">肾畅简介</a>
                                        </li>
                                        <li>
                                            <a href="shengchangshili.html">肾畅实力</a>
                                        </li>
                                        <li>
                                            <a href="shengchangwenhua.html">肾畅文化</a>
                                        </li>
                                        <!--<li role="separator" class="divider"></li>-->
                                        <li>
                                            <a href="shehuizeren.html">社会责任</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true"
                                       aria-expanded="false">解决方案 <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="shejigh.html">设计规划</a>
                                        </li>
                                        <li>
                                            <a href="shichangyx.html">市场营销</a>
                                        </li>
                                        <li>
                                            <a href="renyuanpx.html">人员培训</a>
                                        </li>
                                        <li>
                                            <a href="xinxihuaxt.html">信息化系统</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true"
                                       aria-expanded="false">血透中心 <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="xuetou_jy.html">嘉鱼康泰血透中心</a>
                                        </li>
                                        <li>
                                            <a href="xuetou_ts.html">通山康泰血透中心</a>
                                        </li>
                                        <li>
                                            <a href="xuetou_yx.html">阳新肾畅血透中心</a>
                                        </li>
                                        <li>
                                            <a href="xuetou_cr.html">崇仁肾畅血透中心</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="zuixinzixun.html"><span>最新资讯</span></a>
                                </li>
                                <li>
                                    <a href="jiankangxuanjiao.html"><span>健康宣教</span></a>
                                </li>
                                <li>
                                    <a href="shenyouhui.html"><span>肾友会</span></a>
                                </li>
                                <li class="last">
                                    <a href="contact.html"><span>联系我们</span></a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
            </div>
            <div><img src="images/jianjie-pic1.jpg"></div>
        </div>

        <!-- 健康宣教详情 -->
        <div style="margin-top: 20px;">

            <div class="col-lg-12 col-md-12 col-sm-12 zixun">
                <h3>
                    <center>HEALTH 健康宣教<hr style="margin-top: 30px"></center>
                </h3>
                <h4 align="center">
                    健康宣教
                </h4>
                <p align="center">
                    <span class="date">日期：2016-03-25</span>
                </p>
                <!--<div class="clear"></div>-->
                <div style="width: 100%;">
                    <div>
                    <div style="padding: 0px; margin: 0px;" class="firstRow">
                        <div >
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                <span style="font-size: 21px;"><span style="color: rgb(40, 79, 136);"><strong>血透病人常用药物知识简介</strong></span></span><br/>&nbsp;&nbsp;&nbsp;
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 2em; letter-spacing: 0em;">
                                抗凝剂：如肝素，主要的作用是使血液透析正常运行，并且不影响透析膜的生物相容性，不影响全身凝血系统，避免出血并发症发生，主要不良反应是用药过多导致自发性出血，如皮下淤血、血肿等，患者首先应准确测量体重，这样能使医生根据体重正确使用甘肃两，另外有出血时，如口腔出血、血尿、便血、黑便、鼻血、在月经期间或痔疮出血，全身出血点等情况应及时在透析前向医生或主管护士汇报。促红细胞生成素：主要作用是缓解贫血症状，提高长期存活率，可皮下注射，也可静脉注射，根据患者血色素等情况进行给药，主要不良反应有：头痛、低热、乏力、过敏反应、加重高血压、恶心呕吐、食欲不振等现象<br/>降压药：90%以上的尿毒症患者有不同程度的高血压，且绝大多数都需联合长期服用降压药，减轻或缓解高血压引起的头痛及其他不适，所以，医生应根据高血压程度、原始病因、表现症状给予药物个体化原则，或与其他降压药合用，维持一个稳定的血压水平
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                &nbsp;
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                <span style="font-size: 14px;">&nbsp;</span>
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                <span style="font-size: 14px;"><span style="font-size: 21px;"><span
                                        style="color: rgb(40, 79, 136);"><strong>血透频率为何要一周三次</strong></span></span></span><br/>&nbsp;
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                &nbsp;&nbsp;&nbsp;&nbsp;众所周知，在正常生理情况下，肾脏每天24小时在工作，从不间断，除了排出尿液，更重要的是排出代谢废物，毒物，调节血浆渗透压，电解质及酸碱平衡，以维持机体的内环境稳定，使机体的各个脏器得以正常运行。但庆幸的是肾脏的功能可用血液透析间歇性替代，血液透析不仅清除体内潴留的水分及代谢产物，并通过透析液与血液间的渗透作用补充需要的物质，纠正电解质和酸碱平衡紊乱。每周仅用12个小时的血液透析来代替健康状态下每周168小时的肾脏的工作，效率之高，可想而知。血液透析后血BuN可降至稍高正常的水平，随着透析间期的延长，血中毒素逐渐积聚，因此，血液透析疗法仅替代了正常肾脏的部分排泄功能，但并非一个完全性替代治疗。
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                研究表明，在每周透析三次的情况下，单次治疗Kt/V在0.8以下时，其比值每上升，病人死亡率降低7%，而在1.2以上曲线则处于平坦状态，因此，每次Kt/V值为1.2，每周透析3次，患者的治疗才充分，长期存活率才可维持在较高水平。如果，将每周3次透析改为2次，每周的总Kt/V值将减少为常规的2/3，根本达不到充分治疗的目的，长期下去当然会影响患者的生活质量并进一步影响存活率。
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                在大多数透析中心，每周两次透析透析方案只用于仍有较大的残存肾功能患者。所谓残余肾功能就是患者不但有一定的尿量，而且能排泄肌酐和尿毒氮。但长期透析患者很难长期保持残余肾功能，往往于开始时可每周透析2次，但是经过数周或数月的透析后，残余肾功能逐渐下降，每周2次的透析仅仅是一个短期的治疗方案，应及时改为每周3次透析。
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                &nbsp;
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                <span style="font-size: 21px;"><span style="color: rgb(40, 79, 136);"><strong>高品质血液透析的决定因素——透析液</strong></span></span><br/>&nbsp;&nbsp;&nbsp;&nbsp;
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 2em; letter-spacing: 0em;">
                                透析液的好坏是决定透析质量的一个重要因素，因透析液中超标的微量元素、内毒素等都是有害的。拿内毒素来说进入人体后，会激起体内防御系统的连锁反应，启动C5a、C5b-等补体，形成微炎症反应，而微炎症反应引起的液后问题目前日益受到重视，特别是和心血管的并发症以及肾友的存活率相关。
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                试想：一位肾友，每周要定期治疗三次，每次约四个小时，若一年有周，则每年约有624小时，其血液须与共约一万九千公升的透析液接触，因此选择好的反渗水和透析液非常重要。
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                血透机在配制透析用水时，反渗水占了93%以上的比例，因此，反渗水的质量是影响透析液的最重要因素，反渗水必须使用两级反渗水膜水处理系统，且要定期对水处理系统和管路系统进行清洗、消毒、定期更换反渗水膜和沙滤罐、离子罐、碳罐等，定期进行微量元素、细菌、内毒素的测定，我透析室采用双极反渗膜水处理系统，它在配置使用时经过两道细菌、内毒素过滤器，同时，这套装置还可做消毒机进行清洗、消毒、避免致热源、内毒素的污染，使生产出来的透析液更纯净。——摘自南医大二附院
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                <br/><span style="font-size: 21px;"><span style="color: rgb(40, 79, 136);"><strong>高品质血液透析的决定因素——透析器</strong></span></span><br/>&nbsp;&nbsp;&nbsp;
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 2em; letter-spacing: 0em;">
                                充分足量透析最基本的就是要使用性能优良的透析器，而一个透析器的“心脏”莫过于其中的透析膜了，在先进的透析室中，高通量透析HDF透析正日益成为高品质透析的常见模式，第三代合成膜的应用比例以及透析器的面积，超滤系数的大小已成为衡量透析耗材优劣的主要标准。
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                那么一种理想的透析器应该满足哪些标准呢，最主要的是：
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                &nbsp;
                            </p>
                            <div width="100%" style="width: 100%;">
                                <div>
                                <div style="padding: 0px; margin: 0px;" class="firstRow">
                                    <div style="padding: 0px; margin: 0px;">
                                        <ul style="padding: 0px 0px 0px 25px; width: auto; display: inline-block; background-image: none; background-position: 0px 0px; background-size: initial; background-repeat: repeat; background-attachment: scroll; background-origin: initial; background-clip: initial; float: none; height: auto;"
                                            class=" list-paddingleft-2">
                                            <li>
                                                <p>
                                                    对毒素（小分子、中大分子）的清除率高，但不允许血液中的蛋白质和透析液中的细菌毒素通过&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    具有适宜的超滤渗水性
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    具有良好的生物相容性
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    灭菌处理后，膜性能不能改变
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    有足够的湿态强度和耐压性
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                    <td style="padding: 0px; margin: 0px;">
                                        <img alt=""
                                             src="http://www.suntophc.com/4222ccfe-6552-473d-a50c-235f7e2521a3.png"/>
                                    </td>
                                </div>
                                </div>
                            </div>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                高通量膜较普通低、中通量的透析膜，能更多清除β2-微球蛋白、瘦素、甲状旁腺素、肾上腺髓质素等中、大分子毒素物质、改善贫血、代谢性骨病、心血管疾病等透析并发症，改善透析患者预后。<br/>高通量透析是介于普通透析和血液透析滤过之间的一种较好的透析模式。我们选用一的一次性高通量透析器具有最适宜的膜结构，独特的中空纤维区间编丝结构，狭长螺旋开槽结构，保证使透析面积最大化，透析液理想分布，并防止内毒素逆向过滤。<br/>这种高通量透析器优良的生物相容性，出色的清除率使得透析患者的生存质量显著改善，提高了生存率。——摘自南医大二附院
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                &nbsp;
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                <span style="font-size: 21px;"><span
                                        style="color: rgb(40, 79, 136);"><strong>贫血的治疗原则</strong></span></span><br/>&nbsp;&nbsp;&nbsp;
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 2em; letter-spacing: 0em;">
                                原因：大部分的红血球生成素是经由肾脏制造，尿毒症病人因为肾脏制造红血球生成素的细胞受损，不能制造红血球生成素，所以造成贫血。<br/>治疗：
                            </p>
                            <ul style="padding: 0px 0px 0px 25px; width: auto; display: inline-block; background-image: none; background-position: 0px 0px; background-size: initial; background-repeat: repeat; background-attachment: scroll; background-origin: initial; background-clip: initial; float: none; height: auto;"
                                class=" list-paddingleft-2">
                                <li>
                                    <p>
                                        红血球生成素（EPO)
                                    </p>
                                </li>
                            </ul>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                红血球生成素可以增加红血球的产生。以前尿毒症病人的贫血必须经由输血治疗，现在经由最新的科技以人工制造红血球生成素（EPO)，这些人工制造的红血球生成素与人体产生的EPO是一样的。
                            </p>
                            <ul style="padding: 0px 0px 0px 25px; width: auto; display: inline-block; background-image: none; background-position: 0px 0px; background-size: initial; background-repeat: repeat; background-attachment: scroll; background-origin: initial; background-clip: initial; float: none; height: auto;"
                                class=" list-paddingleft-2">
                                <li>
                                    <p>
                                        铁质
                                    </p>
                                </li>
                            </ul>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                在给与EPO的同时必须有足够的铁离子摄取才能使红血球产生，红肉中含有大量的铁质与优质蛋白质，多摄取红肉可以增加铁质的摄取；或者以口服或注射铁剂增加体内铁离子，蔬菜、水果不是良好的铁质来源。
                            </p>
                            <ul style="padding: 0px 0px 0px 25px; width: auto; display: inline-block; background-image: none; background-position: 0px 0px; background-size: initial; background-repeat: repeat; background-attachment: scroll; background-origin: initial; background-clip: initial; float: none; height: auto;"
                                class=" list-paddingleft-2">
                                <li>
                                    <p>
                                        维生素B群与叶酸
                                    </p>
                                </li>
                            </ul>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                维生素B群和叶酸为肾友补充最需要的维生素，另外，叶酸还有预防贫血的效用
                            </p>
                            <ul style="padding: 0px 0px 0px 25px; width: auto; display: inline-block; background-image: none; background-position: 0px 0px; background-size: initial; background-repeat: repeat; background-attachment: scroll; background-origin: initial; background-clip: initial; float: none; height: auto;"
                                class=" list-paddingleft-2">
                                <li>
                                    <p>
                                        改善营养
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        治疗炎症
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        输血
                                    </p>
                                </li>
                            </ul>
                            <div width="100%" style="width: 100%;">
                                <div>
                                <div style="padding: 0px; margin: 0px;" class="firstRow">
                                    <div style="padding: 0px; margin: 0px;">
                                        <img alt="" height="127"
                                             src="http://www.suntophc.com/4ee8b1b5-cb14-412e-9ffd-093eb53d35e0.png"
                                             width="101"/>
                                    </div>
                                    <td style="padding: 0px; margin: 0px;">
                                        <img alt=""
                                             src="http://www.suntophc.com/d0efc17f-141d-49c4-96a3-ae6cc39a1073.png"/>
                                    </td>
                                    <td style="padding: 0px; margin: 0px;">
                                        <img alt=""
                                             src="http://www.suntophc.com/a33c31e0-f7d9-45e0-98c6-6ab783cbc6ca.png"/>
                                    </td>
                                    <td style="padding: 0px; margin: 0px;">
                                        <img alt=""
                                             src="http://www.suntophc.com/7a48fe70-df0a-4e9e-9d02-6dc7cbb2daa6.png"/>
                                    </td>
                                </div>
                                </div>
                            </div>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                &nbsp;
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                <span style="font-size: 21px;"><span style="color: rgb(40, 79, 136);"><strong>肾脏疾病患者如何预防感冒</strong></span></span>
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                &nbsp;
                            </p>
                            <div style="width: 828px;">
                                <div>
                                <div style="padding: 0px; margin: 0px;" class="firstRow">
                                    <div style="padding: 0px; margin: 0px;">
                                        <ul style="padding: 0px 0px 0px 25px; width: auto; display: inline-block; background-image: none; background-position: 0px 0px; background-size: initial; background-repeat: repeat; background-attachment: scroll; background-origin: initial; background-clip: initial; float: none; height: auto;"
                                            class=" list-paddingleft-2">
                                            <li>
                                                <p>
                                                    &nbsp;肾脏病患者由于免疫力低下，抵抗力较差，宜采取各种积极有效的措施，防止感冒的发生
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    进行一些力所能及的体育锻炼，如散步等，以增强体质，提高抗病能力。
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    注意环境和个人卫生，避免发病诱因
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    注意气候变化，随时增添衣服，防止受凉
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    平时可服一些提高免疫力的药物
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    感冒流行期间，可服用预防
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    感冒流行期间，避免去公共场所，以防止交叉感染
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    一旦感冒，必须尽早给予治疗
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                    <td style="padding: 0px; margin: 0px;">
                                        <img alt=""
                                             src="http://www.suntophc.com/60a25e07-32d3-40e0-abcd-8c250ec485ff.png"/>
                                    </td>
                                </div>
                                </div>
                            </div>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                &nbsp;
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                <span style="font-size: 21px;"><span style="color: rgb(40, 79, 136);"><strong>血液透析患者透析前应做哪些检查及准备</strong></span></span>
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                &nbsp;
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 2em; letter-spacing: 0em;">
                                患者在血液透析前具体的检查及准备工作包括以下几个方面：定期检查血常规、血红蛋白、肝肾功能、电解质、甲状旁腺素、心电图、胸片、腹部B超等，了解自己的身体状况，制定符合自己的透析方案
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                思想准备：患者及其家属对血液透析有思想准备，了解血液透析原理，在实际进行透析时能更好地合作，能更好地选择时期，在出现尿毒症症状和失去工作能力之前即开始透析，减少尿毒症的并发症和避免患者处于临终状态，有成分时间为患者准备好血管通路
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                控制血压：慢性肾衰竭的血液透析患者，高血压可加快肾衰的发展及增加心血管疾病发生的危险性，故控制高血压有助于肾功能的保护及透析过程的安全。如果经药物仍无法控制的顽固性高血压，那么就要抓紧透析治疗
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                &nbsp;
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                有糖尿病者要控制血糖
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                &nbsp;
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                控制感染及心功能减退
                            </p>
                        </div>
                    </div>
                    </div>
                </div>
                <p style="padding: 0px; margin-top: 0px; margin-bottom: 0px; line-height: 24px;">
                    <br/>
                </p>
                <p class="typename"
                   style="padding: 3px 0px; margin-top: 0px; margin-bottom: 0px; line-height: 24px; font-family: 宋体, Arial; font-size: 12px; white-space: normal; background-color: rgb(241, 241, 241);">
                    <strong>所属类别：</strong>&nbsp;健康宣教
                </p>
                <p>
                    <br/>
                </p>
            </div>
        </div>

        <!-- 工具栏-->
        <div class="tools col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-1 col-md-1 col-sm-1">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="row">
                    <p class="tools-title">关于我们</p>
                    <hr>
                </div>
                <div class="row">
                    <p class="tools-content"><a href="shengchangjianjie.html">走进肾畅</a></p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="row">
                    <p class="tools-title">健康宣教</p>
                    <hr>
                </div>
                <div class="row">
                    <p class="tools-content"><a href="jiankangxuanjiao.html">健康宣教</a></p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="row">
                    <p class="tools-title">最新资讯</p>
                    <hr>
                </div>
                <div class="row">
                    <p class="tools-content"><a href="zuixinzixun.html">肾畅资讯</a></p>
                </div>
                <div class="row">
                    <p class="tools-content"><a href="zuixinzixun.html">行业新闻</a></p>
                </div>
                <div class="row">
                    <p class="tools-content"><a href="zuixinzixun.html">最新活动</a></p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="row">
                    <p class="tools-title">联系我们</p>
                    <hr>
                </div>
                <div class="row">
                    <p class="tools-content"><a href="contact.html">联系我们</a></p>
                </div>
                <div class="row">
                    <p class="tools-content"><a href="contact.html">人力资源</a></p>
                </div>
                <div class="row">
                    <p class="tools-content"><a href="#">在线留言</a></p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <p><img alt="" src="images/qrcode.jpg"/></p>
                <p style="color: black;text-align: center">扫一扫关注我们</p>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
            </div>
        </div>

    </div>
</div>

<div class="clear"></div>
<hr/>
<footer class="footer" id="footer">
    <div class="container">
        <div id="copyright">Designed by 华鑫 in 华中科技大学&nbsp;&nbsp;&nbsp;&nbsp;</div>
    </div>
</footer>

<!-- js 脚本-->
<script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.0.0rc1.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script type='text/javascript' src='js/tool.js'></script>
</body>

</html>
