<!DOCTYPE HTML>
<html>

<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!--slider-->
    <link href="css/camera.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/foot.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/info.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/tools.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/newscard.css" rel="stylesheet" type="text/css" media="all"/>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>

<body>
<div class="wrapper">
    <div class="wrap">
        <div class="wrap_inner">
            <div class="cssmenu">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <a class="navbar-brand" href="index.html">
                                <img alt="Brand" style="max-width:100px;margin-top:-7px;" src="images/logo.png">
                            </a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse cssnav" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav ">
                                <li class="active">
                                    <a href="index.html">首页 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true"
                                       aria-expanded="false">关于肾畅 <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="shengchangjianjie.html">肾畅简介</a>
                                        </li>
                                        <li>
                                            <a href="shengchangshili.html">肾畅实力</a>
                                        </li>
                                        <li>
                                            <a href="shengchangwenhua.html">肾畅文化</a>
                                        </li>
                                        <!--<li role="separator" class="divider"></li>-->
                                        <li>
                                            <a href="shehuizeren.html">社会责任</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true"
                                       aria-expanded="false">解决方案 <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="shejigh.html">设计规划</a>
                                        </li>
                                        <li>
                                            <a href="shichangyx.html">市场营销</a>
                                        </li>
                                        <li>
                                            <a href="renyuanpx.html">人员培训</a>
                                        </li>
                                        <li>
                                            <a href="xinxihuaxt.html">信息化系统</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true"
                                       aria-expanded="false">血透中心 <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="xuetou_jy.html">嘉鱼康泰血透中心</a>
                                        </li>
                                        <li>
                                            <a href="xuetou_ts.html">通山康泰血透中心</a>
                                        </li>
                                        <li>
                                            <a href="xuetou_yx.html">阳新肾畅血透中心</a>
                                        </li>
                                        <li>
                                            <a href="xuetou_cr.html">崇仁肾畅血透中心</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="zuixinzixun.html"><span>最新资讯</span></a>
                                </li>
                                <li>
                                    <a href="jiankangxuanjiao.html"><span>健康宣教</span></a>
                                </li>
                                <li>
                                    <a href="shenyouhui.html"><span>肾友会</span></a>
                                </li>
                                <li class="last">
                                    <a href="contact.html"><span>联系我们</span></a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
            </div>
            <div><img src="images/jianjie-pic1.jpg"></div>
        </div>

        <!-- 健康宣教详情 -->
        <div style="margin-top: 20px;">
            <div class="col-lg-12 col-md-12 col-sm-12 zixun" >
                <h3>
                    <center>HEALTH 健康宣教<hr style="margin-top: 30px"></center>
                </h3>
                <h4 align="center">
                    <span>日常护理</span>
                </h4>
                <p style="text-align: center;">
                    <span class="date">日期：2016-03-25</span>
                </p>
                <div style="width: 100%;">
                    <div>
                    <div style="padding: 0px; margin: 0px;" class="firstRow">
                        <div style="padding: 0px; margin: 0px;">
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                <span style="font-size: 21px;"><span style="color: rgb(40, 79, 136);"><strong>平日皮肤的护理</strong></span></span>
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                &nbsp;
                            </p>
                            <div style="width: 100%;">
                                <div>
                                <div style="padding: 0px; margin: 0px;" class="firstRow">
                                    <div style="padding: 0px; margin: 0px;">
                                        <div style="padding: 0px 0px 0px 25px; width: auto; display: inline-block; background: none 0px 0px repeat scroll transparent; float: none; height: auto;" class=" list-paddingleft-2">
                                            <li>
                                                <p>
                                                    洗澡时不要将肥皂直接涂在皮肤上，洗完澡后可擦拭乳液
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    剪短指甲可避免抓破皮肤，预防感染
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    局部瘙痒时可用冰敷或涂些清凉油
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    若皮肤瘙痒难耐时，请医师开口服药或外用药
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    瘙痒厉害时，注意检查血液钙磷及甲状腺激素水平以维持正常
                                                </p>
                                            </li>
                                        </div>
                                    </div>
                                    <div style="padding: 0px; margin: 0px;">
                                        <img alt="" height="153" src="http://www.suntophc.com/d42c20e1-3a03-4f39-8221-2bc066ce96df.png" width="140"/>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                &nbsp;
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                <span style="font-size: 21px;"><span style="color: rgb(40, 79, 136);"><strong>透析病人如何纾解情绪压力</strong></span></span>
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                &nbsp;
                            </p>
                            <ul style="padding: 0px 0px 0px 25px; width: auto; display: inline-block; background: none 0px 0px repeat scroll transparent; float: none; height: auto;" class=" list-paddingleft-2">
                                <li>
                                    <p>
                                        当意志消沉，心情沮丧时，可将内心的感受表达出来，以减轻内心的情绪压力
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        可经由社会工作人员获得精神及经济上的协助
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        与复健良好的个案认识，吸收其经验并可增加信心
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        肾衰竭患者，通常会有性机能障碍，若因此造成生活不协调及怀孕问题时，可提出与医护人员讨论
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        参加联谊活动-----有聚会郊游或短期国外旅游，并有医护人员随行。多参加旅游开阔心胸、多吸收一些信息并扩展自己的生活圈
                                    </p>
                                </li>
                            </ul>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                &nbsp;
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                <span style="font-size: 21px;"><span style="color: rgb(40, 79, 136);"><strong>透析病人的运动原则</strong></span></span>
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                &nbsp;
                            </p>
                            <ul style="padding: 0px 0px 0px 25px; width: auto; display: inline-block; background: none 0px 0px repeat scroll transparent; float: none; height: auto;" class=" list-paddingleft-2">
                                <li>
                                    <p>
                                        任何透析患者需要经医师评估后，选择适合自己的运动方式
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        任何运动需要量力而为，决不可勉强为之
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        糖尿病患者常常有体位性低血压及自主精神病变所引起的心律不齐，运动时要十分小心，另外需要注意血糖变化，运动前先进食，随时携带糖果，以防低血糖的发生
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        促使红细胞生成素，血红蛋白增加可以提高运动忍耐力，但同时也要注意血清中钾离子会升高，尿素清除率下降，因此仍然要小心与医师配合
                                    </p>
                                </li>
                            </ul>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                &nbsp;
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                <span style="font-size: 21px;"><span style="color: rgb(40, 79, 136);"><strong>透析病人的运动计划</strong></span></span>
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                &nbsp;
                            </p>
                            <ul style="padding: 0px 0px 0px 25px; width: auto; display: inline-block; background: none 0px 0px repeat scroll transparent; float: none; height: auto;" class=" list-paddingleft-2">
                                <li>
                                    <p>
                                        运动的种类：多做等张运动，例如：游泳，骑自行车、慢跑，走路对心脏较有帮助。练气功、太极拳亦是值得鼓励的运动。要避免会使血压升高的运动如举重、短跑、跳绳等
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        运动的长短：每次至少20-30分钟才能达到运动效果，平常未运动者，可依据其耐力逐渐增加运动时间以达到预定的目标
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        运动的频率：每周至少三次，每次至少40分钟，而且心跳速率须达到最大允许心跳速率的80%（最大允许速率随年龄而异，可请教医师）
                                    </p>
                                </li>
                            </ul>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                <br/><span style="font-size: 21px;"><span style="color: rgb(40, 79, 136);"><strong>透析病人日常生活的护理重点</strong></span></span>
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                &nbsp;
                            </p>
                            <div style="width: 100%;">
                                <div>
                                <div style="padding: 0px; margin: 0px;" class="firstRow">
                                    <div style="padding: 0px; margin: 0px;">
                                        <ul style="padding: 0px 0px 0px 25px; width: auto; display: inline-block; background: none 0px 0px repeat scroll transparent; float: none; height: auto;" class=" list-paddingleft-2">
                                            <li>
                                                <p>
                                                    定时接受透析治疗
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    适当运动，充足的休息和睡眠
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    预防感染、养成良好卫生习惯
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    按时量血压并记录
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    养成按时排便的习惯，不要便秘
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    必要时可使用软便剂
                                                </p>
                                            </li>
                                            <li>
                                                <p>
                                                    注意饮食和水分的摄取
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div style="padding: 0px; margin: 0px;">
                                        <img alt="" height="147" src="http://www.suntophc.com/89951209-a54b-4441-8ea7-6013d91a0648.png" width="165"/>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <ul style="padding: 0px 0px 0px 25px; width: auto; display: inline-block; background: none 0px 0px repeat scroll transparent; float: none; height: auto;" class=" list-paddingleft-2">
                                <li>
                                    <p>
                                        自我观察有无内外出血的情况、自身有无浮肿或加重、大小便颜色、皮肤上有无出血点、瘀斑等
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        保持身心愉快
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        保暖；机体受凉收，血管收缩，血压升高。故此，冬天外出易戴口罩；夏天不要赤脚，不要长时间吹电风扇，不要长时间泡在冷水中
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        居家生活中有任何紧急情况和不适，应立即到门诊、急诊或血液净化中心、病房就诊
                                    </p>
                                </li>
                            </ul>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                &nbsp;
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                <span style="font-size: 21px;"><span style="color: rgb(40, 79, 136);"><strong>透析老年患者的居家安全</strong></span></span>
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                <br/>&nbsp;&nbsp;&nbsp;
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 2em; letter-spacing: 0em;">
                                老人家在家里最常跌倒的地方依序是客厅，卧室、浴室或厕所，跌倒时的活动以室内走动最多，如果厨房，浴室、楼梯潮湿或地面不平，光线昏暗或到陌生的新环境，穿了不合脚的鞋子，鞋底太滑，也易使老人容易跌倒<br/>&nbsp;&nbsp;&nbsp; 美国运动医学建议老人，每周走路三天，每天累计30分钟，增强肌肉力量，有助于降低跌倒的风险<br/>居家注意事项
                            </p>
                            <ul style="padding: 0px 0px 0px 25px; width: auto; display: inline-block; background: none 0px 0px repeat scroll transparent; float: none; height: auto;" class=" list-paddingleft-2">
                                <li>
                                    <p>
                                        贫血或体位性低血压者，下床时先坐在床边休息3-5分钟，不晕眩才可下床
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        家中照明及采光应充足
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        移除家中危险物品，采用无障碍空间设计
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        在厨房、浴室和浴缸等地方要铺上止滑垫，保持地面干燥。座椅、马桶、床等，不宜易太高太低，软硬需适中
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        衣物避免太长或太宽，鞋子要合脚及防滑
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        给与适当的辅助器，如拐杖，助步器及轮椅等
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        老年人自行如厕或沐浴，须随时注意有无回应
                                    </p>
                                </li>
                            </ul>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                &nbsp;
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                <span style="font-size: 21px;"><span style="color: rgb(40, 79, 136);"><strong>透析病人如何与家人相处</strong></span></span>
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                &nbsp;
                            </p>
                            <ul style="padding: 0px 0px 0px 25px; width: auto; display: inline-block; background: none 0px 0px repeat scroll transparent; float: none; height: auto;" class=" list-paddingleft-2">
                                <li>
                                    <p>
                                        透析治疗是一种终身性的治疗方法，这不仅使透析病人个人，也使病人所在的家庭的生活发生巨大的变化，比如家庭开支增加，经常要去医院影响家人上班等等
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        大多数病人会因此对家人产生一种内疚之情，这种内疚之情是关爱家人，心地善良的表现，是一种积极向上的心态，病人要将这种良好的心态转化为实际行动，以减少对家庭的影响
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        比如通过自觉限制水分的入量，科学饮食等方法，可以不用增加透析次数，从而减少透析费用，锻炼身体，增强体质，增强抵抗力，从而减少感冒，肺部感染的发生，病情许可的话，多做家务，减轻家人的负担，若有可能，继续坚持工作，自己能够的事不要劳烦家人等等。最重要的是表达出来，一如既往的关心关爱家人
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        最忌“托病为大”，一味索取，认为家人的付出是应该的，而不情愿在感情上，时间上，体力上再为家人付出
                                    </p>
                                </li>
                            </ul>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-align: right; text-indent: 0em; letter-spacing: 0em;">
                                <strong>&nbsp;</strong>
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                <span style="font-size: 21px;"><span style="color: rgb(40, 79, 136);"><strong>透析病人心理的“8要5不”原则</strong></span></span>
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                &nbsp;
                            </p>
                            <ul style="padding: 0px 0px 0px 25px; width: auto; display: inline-block; background: none 0px 0px repeat scroll transparent; float: none; height: auto;" class=" list-paddingleft-2">
                                <li>
                                    <p>
                                        八要
                                    </p>
                                </li>
                            </ul>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                &nbsp;&nbsp; 1.要找个倾吐心事的人：说出心中的焦虑恐惧，并澄清一些错误的想法<br/>&nbsp;&nbsp; 2.要接受患病的事实：身体病了但是心不能贝身体疾病打倒，要有信心，凡自助者天助也<br/>&nbsp;&nbsp; 3.要少抱怨常感恩：因为无法改变的事实会让心情更糟，如果看到自己仍然拥有就会更珍惜生命<br/>&nbsp;&nbsp; 4.要打开心胸抛开疾病苦恼，保持与社会互动，寻求生活的意义，协助家人及关心情况比你更糟糕的人<br/>&nbsp;&nbsp; 5.要时时刻刻怀着自省的心理关怀身边的人;回到自己的岗位，一己之力，作为有用的人挥别心中的阴霾，过着光明的人生不受外界异样眼光的影响，选择快乐和不快乐在你的在于你的一念之差<br/>&nbsp;&nbsp; 6.要坚强的活下去——明天会更好，活着就有希望，为了爱你的人以及你爱的人，站起来积极的活下去，存在本身就是一种价值，不要以为失去了一些东西，人生就没有意义，其实人身没有十全十美的事情<br/>&nbsp;&nbsp; 7.要有宗教信仰，可以是精神有所寄托——弥补心灵的空虚<br/>&nbsp;&nbsp; 8.要培养一些充实生活，服务他人排解无聊
                            </p>
                            <ul style="padding: 0px 0px 0px 25px; width: auto; display: inline-block; background: none 0px 0px repeat scroll transparent; float: none; height: auto;" class=" list-paddingleft-2">
                                <li>
                                    <p>
                                        五不
                                    </p>
                                </li>
                            </ul>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                &nbsp;&nbsp; 1.心存不切实际的想法：透析只能帮助排除部分毒素、水分，并无恢复肾功能作用，任何减少透析次数或不透析的想法都不切实际<br/>&nbsp;&nbsp; 2.不要让透析室成为心理压力的地方：透析室是肾友生活的一部分，肾友和工作人员应共同建立一个温馨和谐的环境<br/>&nbsp;&nbsp; 3.不要因为透析与亲友疏远：需要他们的关心与关怀<br/>&nbsp;&nbsp; 4.不要把痛苦的事情藏在心理：找愿意倾听的人宣泄出心中的苦闷<br/>&nbsp;&nbsp; 5.不要过度依赖他人：可以自己做的就不求人，可以减少无助的痛苦，如果不是力所能及的事情也不要勉强自己独立，毕竟没有人能够独立过一辈子。
                            </p>
                            <div width="100%">
                                <div>
                                <div style="padding: 0px; margin: 0px;" class="firstRow">
                                    <div style="padding: 0px; margin: 0px;">
                                        <img alt="" src="http://www.suntophc.com/5f797be4-d401-4d3d-af44-759f71f2e7df.png"/>
                                    </div>
                                    <div style="padding: 0px; margin: 0px;">
                                        <img alt="" height="156" src="http://www.suntophc.com/b2dc5a72-25a7-490d-b189-8ec94c098a62.png" width="243"/>
                                    </div>
                                    <div style="padding: 0px; margin: 0px;">
                                        <img alt="" height="158" src="http://www.suntophc.com/b523adce-f7df-42c8-9df3-de88dba18454.png" width="236"/>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <p style="line-height: 24px;">
                                &nbsp;
                            </p>
                            <p style="margin-top: 0em; margin-bottom: 0em; line-height: 2em; text-indent: 0em; letter-spacing: 0em;">
                                &nbsp;&nbsp;
                            </p>
                        </div>
                    </div>
                    </div>
                </div>
                <p style="padding: 0px; margin-top: 0px; margin-bottom: 0px; line-height: 24px; font-family: 宋体, Arial; font-size: 12px; white-space: normal; background-color: rgb(241, 241, 241);">
                    <br/>
                </p>
                <p class="typename" style="padding: 3px 0px; margin-top: 0px; margin-bottom: 0px; line-height: 24px;">
                    <strong>所属类别：</strong>&nbsp;健康宣教
                </p>
                <p>
                    <br/>
                </p>
            </div>
        </div>

        <!-- 工具栏 -->
        <div class="tools col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-1 col-md-1 col-sm-1">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="row">
                    <p class="tools-title">关于我们</p>
                    <hr>
                </div>
                <div class="row">
                    <p class="tools-content"><a href="shengchangjianjie.html">走进肾畅</a></p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="row">
                    <p class="tools-title">健康宣教</p>
                    <hr>
                </div>
                <div class="row">
                    <p class="tools-content"><a href="jiankangxuanjiao.html">健康宣教</a></p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="row">
                    <p class="tools-title">最新资讯</p>
                    <hr>
                </div>
                <div class="row">
                    <p class="tools-content"><a href="zuixinzixun.html">肾畅资讯</a></p>
                </div>
                <div class="row">
                    <p class="tools-content"><a href="zuixinzixun.html">行业新闻</a></p>
                </div>
                <div class="row">
                    <p class="tools-content"><a href="zuixinzixun.html">最新活动</a></p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div class="row">
                    <p class="tools-title">联系我们</p>
                    <hr>
                </div>
                <div class="row">
                    <p class="tools-content"><a href="contact.html">联系我们</a></p>
                </div>
                <div class="row">
                    <p class="tools-content"><a href="contact.html">人力资源</a></p>
                </div>
                <div class="row">
                    <p class="tools-content"><a href="#">在线留言</a></p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <p><img alt="" src="images/qrcode.jpg"/></p>
                <p style="color: black;text-align: center">扫一扫关注我们</p>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
            </div>
        </div>
    </div>
</div>

<div class="clear"></div>
<hr/>
<footer class="footer" id="footer">
    <div class="container">
        <div id="copyright">Designed by 华鑫 in 华中科技大学&nbsp;&nbsp;&nbsp;&nbsp;</div>
    </div>
</footer>

<!-- js 脚本-->
<script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.0.0rc1.js"></script>
<script type='text/javascript' src='js/camera.min.js'></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script type='text/javascript' src='js/tool.js'></script>
</body>

</html>
