<!DOCTYPE HTML>
<html>

<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!--slider-->
    <link href="css/camera.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/foot.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/info.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/tools.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/newscard.css" rel="stylesheet" type="text/css" media="all"/>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>

<body>
<div class="wrapper">
    <div class="wrap">
        <div class="wrap_inner">
            <div class="cssmenu">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <a class="navbar-brand" href="index.html">
                                <img alt="Brand" style="max-width:100px;margin-top:-7px;" src="images/logo.png">
                            </a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse cssnav" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav ">
                                <li class="active">
                                    <a href="index.html">首页 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true"
                                       aria-expanded="false">关于肾畅 <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="shengchangjianjie.html">肾畅简介</a>
                                        </li>
                                        <li>
                                            <a href="shengchangshili.html">肾畅实力</a>
                                        </li>
                                        <li>
                                            <a href="shengchangwenhua.html">肾畅文化</a>
                                        </li>
                                        <!--<li role="separator" class="divider"></li>-->
                                        <li>
                                            <a href="shehuizeren.html">社会责任</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true"
                                       aria-expanded="false">解决方案 <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="shejigh.html">设计规划</a>
                                        </li>
                                        <li>
                                            <a href="shichangyx.html">市场营销</a>
                                        </li>
                                        <li>
                                            <a href="renyuanpx.html">人员培训</a>
                                        </li>
                                        <li>
                                            <a href="xinxihuaxt.html">信息化系统</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true"
                                       aria-expanded="false">血透中心 <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="xuetou_jy.html">嘉鱼康泰血透中心</a>
                                        </li>
                                        <li>
                                            <a href="xuetou_ts.html">通山康泰血透中心</a>
                                        </li>
                                        <li>
                                            <a href="xuetou_yx.html">阳新肾畅血透中心</a>
                                        </li>
                                        <li>
                                            <a href="xuetou_cr.html">崇仁肾畅血透中心</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="zuixinzixun.html"><span>最新资讯</span></a>
                                </li>
                                <li>
                                    <a href="jiankangxuanjiao.html"><span>健康宣教</span></a>
                                </li>
                                <li>
                                    <a href="shenyouhui.html"><span>肾友会</span></a>
                                </li>
                                <li class="last">
                                    <a href="contact.html"><span>联系我们</span></a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
            </div>
            <div><img src="images/jianjie-pic1.jpg"></div>
        </div>

        <!-- 最新资讯详情 -->
        <div style="margin-top: 20px;">
            <div class="col-lg-12 col-md-12 col-sm-12 zixun">
                <h2>
                    <center>NEWS 最新资讯<hr style="margin-top: 30px"></center>
                </h2>
                <h3 align="center">
                    肾友会活动——两岸携手，共抗肾病（延吉泌尿肾病医院）
                </h3>
                <p align="center">
                    <span class="date"><span>日期：</span>2017-09-17</span>
                </p>
                <p>
                    &nbsp; &nbsp; &nbsp;&nbsp;近日，在延吉举办的“吉林省延边地区海峡两岸首届血液透析交流会暨首届肾友联谊会”上，延边州首家社会办医血液透析中心——延吉泌尿肾病医院正式投入使用，该项目总投资1.5亿元，是延边州规模最大的非公医疗机构，可同时接纳200-300名尿毒症血液透析患者。该项目是在延吉市及延边州政府的支持和督导以及延吉市医院的鼎力帮扶下创立的，杏泰医疗有幸参与其中，与香港远东国际医疗投资集团合作，力求为延边的患者提供更好的医疗服务。
                </p>
                <p>
                    <br/>
                </p>
                <p class="col-lg-12 col-md-12 col-sm-12">
                    <img class="col-lg-3 col-md-3 col-sm-3" src="images/zuixinzx/zuixinzx-pic5.jpg"/>
                    <img class="col-lg-3 col-md-3 col-sm-3" src="images/zuixinzx/zuixinzx-pic6.jpg"/>
                    <img class="col-lg-3 col-md-3 col-sm-3" src="images/zuixinzx/zuixinzx-pic7.jpg"/>
                    <img class="col-lg-3 col-md-3 col-sm-3" src="images/zuixinzx/zuixinzx-pic8.jpg"/>
                </p>
                <p>
                    <br/>
                </p>
                <p>
                    &nbsp; &nbsp; &nbsp; 目前，院内血液透析科室规划床位47张，其中，血液透析机34台，在线式血液滤过机13台，均采用日本原装进口的东丽血液透析设备；水处理设备采用台湾莱特大型水处理机，属于国际级领先的水处理设备，以保证患者透析用水的安全，达到超纯透析。血透室内还专设了小手术室，供插管及内瘘手术用。血液透析中心采用国内通行的每周两次血透和一次血滤相结合的治疗方案，让每个患者都得到高品质的服务。
                </p>
                <p>
                    <br/>
                </p>
                <p class="col-lg-12 col-md-12 col-sm-12">
                    <img class="col-lg-3 col-md-3 col-sm-3" src="images/zuixinzx/zuixinzx-pic9.jpg"/>
                    <img class="col-lg-3 col-md-3 col-sm-3" src="images/zuixinzx/zuixinzx-pic10.jpg"/>
                    <img class="col-lg-3 col-md-3 col-sm-3" src="images/zuixinzx/zuixinzx-pic11.jpg"/>
                    <img class="col-lg-3 col-md-3 col-sm-3" src="images/zuixinzx/zuixinzx-pic12.jpg"/>
                </p>
                <p>
                    <br/>
                </p>
                <p>
                    <span style="font-family: 宋体, tahoma, arial, sans-serif; font-size: 12px; text-indent: 24px; background-color: rgb(241, 241, 241);"><span style="font-family: 宋体, tahoma, arial, sans-serif; font-size: 12px; text-indent: 24px; background-color: rgb(241, 241, 241);"></span></span>
                </p>
                <p>
                    &nbsp; &nbsp; &nbsp; 延边州政协副主席马景峰出席了启动仪式并为活动剪彩。马主席表示，延吉泌尿肾病医院血液净化中心项目启动是延边医疗卫生战线的一件喜事，为延边医疗卫生事业注入新的活力，为推进社会资本办医、完善医疗卫生事业、丰富医疗卫生服务产业起到积极的影响。延吉泌尿肾病医院院长宋俊军还介绍说，血液净化中心通过与台湾专家的交流学习，利用先进的医疗设备、完善的服务功能、优良的透析技术，为我州血透患者提供更好的医疗服务。
                </p>
                <p>
                    &nbsp; &nbsp; &nbsp; 启动仪式之后，“吉林省延边地区海峡两岸首届血液透析交流会暨首届肾友联谊会”在延边白山大厦正式开始。台湾长庚医院肾脏科主任陈右明教授为来到现场的200多位肾友和家属做了题为“血液透析急性并发症的防治”、“提高慢性肾脏病患者的生存质量”的讲座，向肾友们讲解了台湾针对血液透析患者并发症的管理理念和防治的方式。
                </p>
                <p>
                    <br/>
                </p>
                <p class="col-lg-12 col-md-12 col-sm-12">
                    <img class="col-lg-3 col-md-3 col-sm-3" src="images/zuixinzx/zuixinzx-pic13.jpg"/>
                    <img class="col-lg-3 col-md-3 col-sm-3" src="images/zuixinzx/zuixinzx-pic14.jpg"/>
                    <img class="col-lg-3 col-md-3 col-sm-3" src="images/zuixinzx/zuixinzx-pic15.jpg"/>
                    <img class="col-lg-3 col-md-3 col-sm-3" src="images/zuixinzx/zuixinzx-pic16.jpg"/>
                </p>
                <p>
                    &nbsp; &nbsp; &nbsp;&nbsp;<br/>
                </p>
                <p>
                    &nbsp; &nbsp; &nbsp; 随后，浙江省中医院血液透析科护士长杨希老师为肾友们讲解了终末期肾病长期透析并发症的防治和饮食方面的注意事项等内容，并向肾友们详细阐述了充分透析的必要性，让肾友们认识和了解优质透析的方法和注意事项。
                </p>
                <p>
                    活动过程中，两位专家与肾友们进行了面对面的交流，针对大家在治疗和生活当中遇到的问题和困惑给出了解答，帮助大家树立了治疗的信心。同时还向肾友们提供了免费的矿泉水、食物、牛奶、免费体检卡和肾友知识宣传手册，并赠送了护理小礼品等。
                </p>
                <p>
                    &nbsp; &nbsp; &nbsp; 心系两岸，关爱透析，我们将以先进的硬件设备、优质的服务以及一流的就医环境为肾友提供一个温馨、舒适、安全、规范的就医场所。
                </p>
                <p>
                    <br/><br/>
                </p>
            </div>
        </div>
    </div>

    <!-- 工具栏 -->
    <div class="tools col-lg-12 col-md-12 col-sm-12">
        <div class="col-lg-1 col-md-1 col-sm-1">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="row">
                <p class="tools-title">关于我们</p>
                <hr>
            </div>
            <div class="row">
                <p class="tools-content"><a href="shengchangjianjie.html">走进肾畅</a></p>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="row">
                <p class="tools-title">健康宣教</p>
                <hr>
            </div>
            <div class="row">
                <p class="tools-content"><a href="jiankangxuanjiao.html">健康宣教</a></p>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="row">
                <p class="tools-title">最新资讯</p>
                <hr>
            </div>
            <div class="row">
                <p class="tools-content"><a href="zuixinzixun.html">肾畅资讯</a></p>
            </div>
            <div class="row">
                <p class="tools-content"><a href="zuixinzixun.html">行业新闻</a></p>
            </div>
            <div class="row">
                <p class="tools-content"><a href="zuixinzixun.html">最新活动</a></p>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <div class="row">
                <p class="tools-title">联系我们</p>
                <hr>
            </div>
            <div class="row">
                <p class="tools-content"><a href="contact.html">联系我们</a></p>
            </div>
            <div class="row">
                <p class="tools-content"><a href="contact.html">人力资源</a></p>
            </div>
            <div class="row">
                <p class="tools-content"><a href="#">在线留言</a></p>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <p><img alt="" src="images/qrcode.jpg"/></p>
            <p style="color: black;text-align: center">扫一扫关注我们</p>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1">
        </div>
    </div>
</div>
</div>

<div class="clear"></div>
<hr/>
<footer class="footer" id="footer">
    <div class="container">
        <div id="copyright">Designed by 华鑫 in 华中科技大学&nbsp;&nbsp;&nbsp;&nbsp;</div>
    </div>
</footer>

<!--js 脚本-->
<script src="http://code.jquery.com/jquery-1.9.0rc1.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.0.0rc1.js"></script>
<script type='text/javascript' src='js/jquery.mobile.customized.min.js'></script>
<script type='text/javascript' src='js/jquery.easing.1.3.js'></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script type='text/javascript' src='js/tool.js'></script>
</body>

</html>
